<!-- MJS 3.7 - Modified from MJS hw 14 - orig uri act 14-28 mp. --> 
<!-- Show the user the current wedding, a form for a new invitee, and invitees. --> 
<div class="row">
  <div class="col-auto"> <!-- neither user.id nor user.id works below. -->
    <h2>Welcome {{username}}  ID: {{id}} </h2>
    <h2>Wedding Name {{wedding.event_title}} ID: {{wedding.id}} Date .... Time .... </h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Modify or Create an Invitee:</h3>
    <form class="form new-invitee-form" user-id="{{id}}" wedding-id="{{wedding.id}}">  <!-- data-id="{{post.id}}" -->
      <div class="form-group">
        <label for="invitee-name">First Name:</label>
        <input class="form-input" type="text" id="invitee-name" name="invitee-name" />
      </div>
      <div class="form-group">
        <label for="invitee-last">Last Name:</label>
        <input class="form-input" type="text" id="invitee-last" name="invitee-last" />
      </div>
      <div class="form-group">
        <label for="invitee-email">Email:</label>
        <textarea class="form-input" id="invitee-email" name="invitee-email"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" >Create</button>
      </div>
    </form>
  </div>

  {{#if invitees.length}}
  <div class="col-md-6 invitee-list">
    <h3>Current Invitees:</h3>

    {{#each invitees as |invitee|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/invitee/{{invitee.id}}">{{invitee.first_name}} {{invitee.last_name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm" data-id="{{invitee.id}}">edit</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{invitee.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/invitee2.js"></script>
