<!-- MJS 3.7 - Modified from MJS hw 14 - orig uri act 14-28 mp. -->
<!-- Show the user the current wedding, a form for a new invitee, and invitees. -->
<div class="card-group">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Venues</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Photographers</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Caterers</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
























{{!-- <div class="row"> --}}
  {{!-- <div class="col-auto"> --}}
    {{!-- <h2>Welcome, --}}
      {{!-- {{username}} --}}
      {{!-- .Cody you need to add Wedding info near here likely above the new invitee --}}
      {{!-- form!</h2> --}}
    {{!-- <h2>Wedding Name {{wedding.event_title}} Date .... Time .... </h2> --}}
  {{!-- </div> --}}
{{!-- </div> --}}
{{!--  --}}
{{!-- <div class="row mt-4"> --}}
  {{!-- <div class="col-md-6"> --}}
    {{!-- <h3>Create a New Invitee:</h3> --}}
    {{!-- <form class="form new-project-form"> --}}
      {{!-- <div class="form-group"> --}}
        {{!-- <label for="project-name">Invitee Name:</label> --}}
        {{!-- <input --}}
          {{!-- class="form-input" --}}
          {{!-- type="text" --}}
          {{!-- id="project-name" --}}
          {{!-- name="project-name" --}}
        {{!-- /> --}}
      {{!-- </div> --}}
      {{!-- <div class="form-group"> --}}
        {{!-- <label for="project-desc">Other Stuff??:</label> --}}
        {{!-- <textarea --}}
          {{!-- class="form-input" --}}
          {{!-- id="project-desc" --}}
          {{!-- name="project-desc" --}}
        {{!-- ></textarea> --}}
      {{!-- </div> --}}
      {{!-- <div class="form-group"> --}}
        {{!-- <button type="submit" class="btn btn-primary">Create</button> --}}
      {{!-- </div> --}}
    {{!-- </form> --}}
    {{!-- <br> --}}
    {{!-- <img src="../images/qrcode.png" width="250" height="250" class="rounded d-block" alt="qrcode invitation"> --}}
  {{!-- </div> --}}
{{!--  --}}
{{!--  --}}
  {{!-- {{#if invitees.length}} --}}
    {{!-- <div class="col-md-6 project-list"> --}}
      {{!-- <h3>Current Invitees:</h3> --}}
{{!--  --}}
      {{!-- {{#each invitees as |invitee|}} --}}
        {{!-- <div class="row mb-2"> --}}
          {{!-- <div class="col-md-8"> --}}
            {{!-- <h4><a --}}
                {{!-- href="/project/{{invitee.id}}" --}}
              {{!-- >{{invitee.first_name}}</a></h4> --}}
          {{!-- </div> --}}
          {{!-- <div class="col-md-4"> --}}
            {{!-- <button --}}
              {{!-- class="btn btn-sm btn-danger" --}}
              {{!-- data-id="{{invitee.id}}" --}}
            {{!-- >DELETE</button> --}}
          {{!-- </div> --}}
        {{!-- </div> --}}
      {{!-- {{/each}} --}}
    {{!-- </div> --}}
  {{!-- {{/if}} --}}
{{!-- </div> --}}
{{!--  --}}
{{!-- <script src="./js/profile.js"></script> --}}