<!-- MJS 3.4.24 - Modified from uri act 14-28 mp. --> 
<!-- Show the user a form for a new post, along withcurrent posts at the bottom. --> 
<div class="row">
  <div class="col-auto">
    <h4>Welcome {{username}}! {{id}} </h4> <!-- user.id no good --> 
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    {{#if weddings.length}}
        <h3>Current Wedding: {{ weddings.[1].event_title }}</h3>
    {{else}}
        <h3>Create a New Wedding:</h3>
    {{/if}}
    <form class="form new-wedding-form" user-id="{{id}}" submit-verb="POST">
      <div class="form-group">
        <label for="wedding-name">Wedding Title (Couple Name):</label>
        <input class="form-input" type="text" id="wedding-name" name="wedding-name" />
      </div>
      <div class="form-group">
        <label for="wedding-date">Date:</label>
        <textarea class="form-input" id="wedding-date" name="wedding-date"></textarea>
      </div>
      <div class="form-group">
        <label for="wedding-time">Time:</label>
        <textarea class="form-input" id="wedding-time" name="wedding-time"></textarea>
      </div>

      <div class="form-group"></div>
      {{#if weddings.length}} 
      <!-- js cant acces submit-verb here, wether inside if or not. but can in form element. Arghhh --> 
        <button type="submit" class="btn btn-primary" submit-verbxx="PUT"> Update </button>
      {{else}}
        <button type="submit" class="btn btn-primary" submit-verbxx="POST"> Create </button>
      {{/if}}

      </div>
    </form>
  </div>

  {{#if weddings.length}}
  <div class="col-md-6 project-list">
    {{#each weddings as |wedding|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{wedding.id}}">{{wedding.event_title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{wedding.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{#if weddings.length}}
     <!-- better to hide button - cant assign to it in .js file. --> 
    <button class="btn btn-sm btn-danger">DELETE</button>
  {{else}}  <!-- need btn for .js file for attaching on-click routine. --> 
    <button class="btn btn-sm btn-danger" hidden="hidden">DELETE</button>
  {{/if}}


</div>

<script src="./js/wedding2.js"></script>
